<div class="markdown-editor md-editor" ng-class="{active: markdownEditorCtrl.active}">
    <div class="markdown-editor__actions md-header btn-toolbar">
        
        <div class="btn-group">
            <button            
                ng-click="markdownEditorCtrl.action('bold')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-bold"></i>
            </button>
            <button            
                ng-click="markdownEditorCtrl.action('italic')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-italic"></i>
            </button>
            <button            
                ng-click="markdownEditorCtrl.action('heading')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-header"></i>
            </button>               
            <button            
                ng-click="markdownEditorCtrl.action('strikethrough')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-strikethrough"></i>
            </button>            
        </div>

        <div class="btn-group">
            <button            
                ng-click="markdownEditorCtrl.action('link')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-link"></i>
            </button>          
        </div>        
        
        <div class="btn-group">
            <button            
                ng-click="markdownEditorCtrl.action('bullets')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-list"></i>
            </button>
            <button            
                ng-click="markdownEditorCtrl.action('numbers')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-list-ol"></i>
            </button>
            <button            
                ng-click="markdownEditorCtrl.action('code')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-code"></i>
            </button>               
            <button            
                ng-click="markdownEditorCtrl.action('quote')"            
                class="btn btn-sm btn-default">
                <i class="fa fa-quote-left"></i>
            </button>            
        </div>
        
        <button class="btn-sm btn btn-primary"           
            ng-click="markdownEditorCtrl.preview = !markdownEditorCtrl.preview"           
        ><i class="fa fa-search"></i> {{markdownEditorCtrl.textPreview}}
        </button>
        <div class="md-controls"><a class="md-control md-control-fullscreen" href="#"><span class="fa fa-expand"></span></a></div>        
    </div>
    <textarea 
        style="height: 200px; width: 100%; max-width: 100%;" 
        ng-show="!markdownEditorCtrl.preview" 
        ng-focus="markdownEditorCtrl.active=true"
        ng-blur="markdownEditorCtrl.active=false" 
        class="content-box ng-valid processed md-input ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="markdownEditorCtrl.ngModel">
    </textarea>

    <div 
        style="height: 200px; width: 100%;" 
        class="markdown-editor__editorarea__preview md-preview"
        ng-show="markdownEditorCtrl.preview"
        ng-bind-html="markdownEditorCtrl.getHTML()">
    </div>
</div>