.document a {
    cursor: pointer;
}    
.document a:hover, .document a:active {
    color: #3af;
    text-decoration: none;
}

.document .content, .answer .content {
    padding-left: 10px;
}

.vote {
    text-align: left;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .vote {
        text-align: center;    
    }
}

.vote a, .vote a:hover {
    text-decoration: none;
}

.vote .voteup, .vote .votedown, .vote .star {
    font-size: 30px;
}

.vote .voteup a:hover, .vote .votedown a:hover, .vote .star a:hover {
    color: #33abff;
}

.vote .off a {
    color: #6a737c;
}

.vote .on a, .vote .on a:hover {
    color: #ec971f;
    text-decoration: none;
}

.vote .star {
    font-size: 25px;
    margin-top: 20px !important;
}

.vote .vote-count {
    font-size: 20px;
    color: #6a737c;    
}

.vote .favorite-count {
    color: #6a737c;
    font-weight: normal;
}
               

.vote .voteup, .vote .votedown, .vote .vote-count, .vote .favorite-count, .vote .star {
    display: block;
    float: left;
    width: 100%;
    line-height: 30px;
    margin: 0;
    padding: 0;
}


.document {
    position: relative;
}

.document-stats {
    display: table;
    padding-bottom: 10px;
}

.document-stats .stat-row {
    display: table-row;
}

.document-stats .title {
    line-height: 25px;
    display: table-cell;
    text-transform: capitalize;
}

.document-stats .content {
    display: table-cell;
    padding-left: 10px;
    
}

.document-stats .content.about p {
    max-width: 280px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.document .author {
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
    font-weight: bold;
}

.document .details {
    margin-bottom: 5px;
}


.document .text{
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
}

.document .text p {
    margin-bottom: 1em;
    margin-top: 0;
}

.document .tags {
    /* padding-left: 15px; */
    clear: none !important;
}

.document .footer {
    display: table;
    width: 100%;
    clear: both;
}

.document .footer .meta {
    display: table-row;
    vertical-align: top;
}

.document .footer .meta .signature, .document .footer .meta .actions {
    display: table-cell;
}

.document .footer .meta .actions { 
    padding-top: 10px;
}

.document .footer .meta .actions>* {
    display: inline-block;
}

.document .footer .meta .actions>a {
    padding: 0 3px 2px 3px;
    color: #848d95;
}

.document .footer .meta .actions>a, .document .footer .meta .actions>a:hover, .document .footer .meta .actions>a:active {
    text-decoration: none;
}

.document .footer .meta .actions>a:hover {
    color: #3b4045;
}

.document .footer .meta .actions>a.on {
    color: #ec971f;
}

.document .footer .meta .actions .lsep {
    margin: 0;
    padding: 0;
    margin: 0 2px 0 2px;
    color: #c8ccd0;
    color: #1b4072;
    font-size: 1px;
    visibility: hidden;
}
    
.document .footer .meta .signature {
    text-align: left;
    vertical-align: top;
    width: 200px;
}

.document .footer .meta .signature.owner {
    background-color: #E0EAF1;
}

.document.narrow .user-info {
    padding: 0;
}




.tags {
    line-height: 18px;
    float: left;
    margin-bottom: 10px;
    clear: both;    
}

.tags .tag {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;    
}

.user-question .content, .user-answer .content {
    margin-bottom: 20px;
}

.ta-toolbar .btn-group {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .answer-help {
        position: absolute; 
        right: 0; 
        bottom: 50px;        
    }
}

.comments {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e4e6e8;
}


.comments .comment {
    padding: 6px 6px 6px 0;
    vertical-align: top;
    line-height: 1.3;
    border-bottom: 1px solid #eff0f1;
}


.comments .comment .comment-text {

}

.comments .comment .comment-text p {
    display: inline-block;
    margin: 0;
}

.comments .comment .comment-vote {
    display: block;
}

.comments .comment .comment-vote a, .comments .comment .comment-vote a:hover{
    text-decoration: none;
}

.comments .comment .comment-vote .on a, .comments .comment .comment-vote .on a:hover {
    color: #ec971f;
    text-decoration: none;
}

.comments .comment .comment-vote .comment-score {
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    padding-right: 4px;
    min-width: 21px;
}

.comments .comment .comment-vote .comment-actions  {
    display: inline-block;
    float: left;
    padding-left: 3px;
    width: 25px;
    margin-top: -5px;
}

.comments .comment .comment-vote .comment-actions .comment-voteup {
    font-size: 20px;
}
.comments .comment .comment-vote .comment-actions .comment-voteup, 
.comments .comment .comment-vote .comment-actions .comment-flag {
    display: inline-block;
    line-height: 25px;
    height: 15px;
    width: 16px;
}

.comments .comment .comment-vote a.on, .comments .comment .comment-vote a.on:hover {
    color: #ec971f;
}

.comments .comment a.comment-link {
    color: #8a939c;
    font-weight: bold;
}

.comments .comment a.comment-link:hover{
    color: #6a737c;     
}



/*** search result styles ***/

.document.narrow {
    border-bottom: 1px solid #e4e6e8; 
    overflow: hidden;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #eff0f1;
}

.document.narrow .counters {
    float: left;
    width: 10%;
    width: 70px;
}

.document.narrow .votes, .document.narrow .status, .document.narrow .views {
    margin-bottom: 8px;
    line-height: 1;
    height: auto;
    width: 100%;
    min-width: 70px;
    text-align: center;
    font-size: 11px;
    padding: 7px 0 5px 0;
}

.document.narrow .mini-counts {
    font-size: 17px;
    font-weight: 300;
    color: #6a737c;
    margin-bottom: 4px;
}
.document.narrow .mini-counts i {
    display: block;
    float: left;
    color: #848d95;
}

.document .document-thumbnail {
    float: left;
    width: 102px;
    padding: 0;
    margin-right: 15px;
    border: solid 1px lightgrey;
}

.document .document-author {
    margin-bottom: 8px;
}

.document .summary {
    float: left;
    width: calc(100% - 187px);
    padding: 0;
    height: 145px;
}

.document .summary h3 {
    padding: 0;
    border: 0;
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 21px;
    max-height: 63px;
    overflow: hidden;
}

.document .summary .excerpt {
    max-height: 34px;
    overflow: hidden;
    padding-bottom: 5px;
}

.document .summary .started {
    float: right;
    width: 200px;
    font-size: 12px;
    line-height: inherit;
    padding-top: 4px;
    white-space: nowrap;
}

.document .summary .started .started-link:hover {
    color: #07C;
}

.document .summary .started .started-link {
    font-size: 12px;
    color: #9199a1;
}

.document.narrow .status.answered, 
.document.narrow .status.answered .mini-counts, .document.narrow .status.answered strong {
    color: #45A163;
}

.document.narrow .status.answered {
    border-color: rgba(69,161,99,0.5);
}

.document.narrower .summary {
    height: auto;
    width: calc(100% - 67px);
}
.document.narrower .document-thumbnail {
    width: 52px;
}


.post-summary {
    padding: 6px 0 9px 15px;
    border-bottom: 1px solid #eff0f1;
    width: 100%;
}

.post-summary a:hover, .post-summary a:active {
    color: #3af;
    text-decoration: none;
}

.post-summary .post-title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-summary h3.post-title {
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    padding-top: 1px;
    width: calc(100% - 50px);
}

.post-summary .mini-counts {
    min-width: 36px; 
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.post-summary .date {
    line-height: 1.5;
    padding-top: 1px;
}